*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ffbc00;
  --color-secondary: #f68987;
  --color-light-grey: #dedede;
  --color-lighter-grey: #efefef;
  --color-bright-yellow: rgba(253, 254, 6, 0.4);
}

html {
  font-size: 62.5%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

h1 {
  font-size: 3.6rem;
}

.container {
  max-width: 800px;
  margin: 3rem auto;
  font-size: 1.4rem;
}

.add-control {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 2rem;
}

input[type="text"] {
  padding: 1rem;
  font-size: 1.6rem;
}
.btn {
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  border: none;
}
.btn.text {
  border: none;
  background: none;
}
.btn.text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
.btn.primary {
  background-color: var(--color-primary);
}
.btn.secondary {
  background-color: var(--color-secondary);
  color: white;
}

.todo {
  border: 1px solid var(--color-light-grey);
}

.todo-list li {
  list-style: none;
  margin-bottom: 1rem;
  padding: 1rem;
}
.todo-list li:hover {
  background-color: var(--color-lighter-grey);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
.todo-item_main {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}
.todo-item_main .form-control,
todo-item_control .btn {
  margin-right: 0.6rem;
}
.todo-item_control {
  margin-left: 1rem;
}
.todo-item.completed {
  opacity: 0.5;
}
.todo-item.completed .todo-item_content {
  text-decoration: line-through;
}
.todo-item_content {
  border: none;
  padding: 0;
  width: 100%;
}
.todo-item_content:focus {
  background-color: var(--color-bright-yellow);
  outline: none;
  border: 1px solid var(--color-primary);
}
