*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

h1 {
  font-size: 3.6rem;
}

.container {
  max-width: 800px;
  margin: 3rem auto;
  font-size: 1.4rem;
}

.add-control {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 2rem;
}

input {
  padding: 1rem;
}
.todo {
  font-size: 1.4rem;
}

.todo-list li {
  list-style: none;
}

.todo-list li input[type="checkbox"] {
  margin-right: 0.6rem;
}
.todo-list li .completed {
  text-decoration-line: line-through;
}
